{% extends 'base.html' %}

{% block content %}
<h2>Lista de Vacinas</h2>
<br/>
<form method="get">
    <input type="text" name="q" placeholder="Buscar vacina ou tipo..." value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
</form>

<br/>
<br/>

{% if vacinas %}
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      {% for vacina in vacinas %}
      <tr>
        <td>{{ vacina.nome_vacina }}</td>
        <td>{{ vacina.tipo_vacina }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<p>Nenhuma vacina cadastrada.</p>
{% endif %}

<a href="{% url 'menu' %}" class="btn btn-secondary">Voltar Menu</a>

{% endblock %}
